<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
<!--    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Hóa đơn thanh toán</title>
    <style>
        @page {
            size: A4 portrait; /* Set the page size to A4 in portrait orientation */
            margin: 20mm; /* Set the page margins */
        }
        body {
            font-family: "Roboto", sans-serif;
            margin: 0; /* Remove default body margin */
            padding: 0; /* Remove default body padding */
        }
        .invoice-container {
            color: rebeccapurple;
            width: 100%;
            min-height: 100%;
            padding: 20mm;
            box-sizing: border-box; /* Ensure padding is included in width calculation */
            border: 1px solid purple;
        }
        .invoice-header, .invoice-footer {
            text-align: center;
            margin-bottom: 20px;
        }
        .invoice-details, .invoice-items {
            width: 100%;
        }
        .invoice-items table, .invoice-summary table {
            width: 100%;
            border-collapse: collapse;
        }
        .invoice-items th, .invoice-items td, .invoice-summary th, .invoice-summary td {
            border: 1px solid purple;
            padding: 8px;
            text-align: left;
        }
        .invoice-footer {
            display: flex;
            justify-content: space-between;
        }
        .invoice-sign {
            font-weight: bold;
            font-style: italic;
        }
        .invoice-title {
            color: rebeccapurple;
        }
        .invoice-title.en {
            font-style: italic;
            font-weight: normal;
            font-size: 18px;
        }
        .invoice-separator {
            border-bottom: 1px solid purple;
        }
        .invoice-value {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div id="invoice" class="invoice-container">
    <div class="invoice-header">
        <h1 class="invoice-title">HÓA ĐƠN BÁN HÀNG</h1>
        <h2 class="invoice-title en">SALES INVOICE</h2>
        <p>Ngày <span style="font-style: italic">(day)</span> <span th:text="${#dates.format(today, 'dd')}">, </span>tháng <span style="font-style: italic">(month)</span> <span th:text="${#dates.format(today, 'MM')}">,</span>năm <span style="font-style: italic">(year)</span> <span th:text="${#dates.format(today, 'yyyy')}"></span></p>
    </div>
    <div class="invoice-separator"></div>
    <div class="invoice-details">
        <p>Mã số - Ký hiệu (Serial No.): <span class="invoice-value">2C23TTU</span></p>
        <p>Số (Invoice No.): <span class="invoice-value" th:text="${invoiceId}"></span></p>
        <p>Đơn vị bán (Seller): <span class="invoice-value" style="text-transform: uppercase">CÔNG TY THHH English Academy</span></p>
        <p>MST (Tax Code): <span class="invoice-value">0110329220</span></p>
        <p>Địa chỉ (Address): <span class="invoice-value">Số 9A, ngõ 181 đường Xuân Thủy, Phường Dịch Vọng Hậu, Quận Cầu Giấy, Thành phố Hà Nội, Việt Nam</span></p>
        <div class="invoice-separator"></div>
        <p>Người mua (Buyer): <span class="invoice-value" th:text="${fullName}"></span></p>
        <p>Đơn vị (Company): <span class="invoice-value" th:text="${company}"></span></p>
        <p>MST (Tax Code): <span class="invoice-value">0110329220</span></p>
        <p>Địa chỉ (Address): <span class="invoice-value" th:text="${address}"></span></p>
    </div>
    <div class="invoice-items">
        <table>
            <thead>
            <tr>
                <th>STT (No)</th>
                <th>Tên hàng hóa, dịch vụ (Description)</th>
                <th>ĐVT (Unit)</th>
                <th>SL (Quantity)</th>
                <th>Đơn giá (Unit Price)</th>
                <th>Thành tiền (Amount)</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="invoiceLine: ${invoiceLines}">
                <td th:text="${invoiceLine.getId().substring(0, 6)}" />
                <td th:text="${invoiceLine.getCourse().getCourseName()}" />
                <td>Khóa học</td>
                <td>1</td>
                <td th:text="${invoiceLine.getUnitPrice()}" />
                <td th:text="${invoiceLine.getTotalPrice()}" />
            </tr>
            <tr style="height: 30px">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 30px">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 30px">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 30px">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="5">Thuế<span style="font-style: italic">(Total payment)</span>:</td>
                <td th:text="${tax}">%</td>
            </tr>
            <tr>
                <td colspan="5">Tổng cộng tiền thanh toán <span style="font-style: italic">(Total payment)</span>:</td>
                <td th:text="${totalPrice}"></td>
            </tr>
            <tr>
                <td colspan="6">Số tiền viết bằng chữ <span style="font-style: italic">(Amount in words)</span>: Chín triệu đồng.</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="invoice-footer">
        <p class="invoice-sign">Người mua hàng (Buyer)</p>
        <div>
            <p class="invoice-sign">Người bán hàng (Seller)</p>
            <p style="font-weight: bold; margin-top: 20px">Đã được ký điện tử bởi</p>
            <span style="font-style: italic">(Signed digitally by)</span>
            <p style="font-weight: bold; margin-top: 20px">CÔNG TY THHH English Academy</p>
            <p class="">Ngày: <span th:text="${#dates.format(today, 'dd/MM/YYYY')}"></span></p>
        </div>
    </div>
</div>
</body>
</html>
