<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Yêu Cầu Đặt Lại Mật Khẩu</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

        h1, h2, p {
            margin: 0 0 20px;
        }

        p:last-child {
            margin-bottom: 0;
        }

        strong {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container">
    <p>Xin chào, <span th:text="${toEmail}"></span></p>
    <p>Dưới đây là mã OTP</p>
    <p><strong>OTP:</strong> <span th:text="${otp}"></span></p>
    <p>Vui lòng sử dụng mã OTP này để đặt lại mật khẩu của bạn. Mã OTP này chỉ có thể sử dụng một lần và phải được sử
        dụng trong vòng 1 phút kể từ khi nhận được.</p>
    <p>Nếu bạn không phải là người yêu cầu đặt lại mật khẩu này, vui lòng bỏ qua email này.</p>
    <p>Đối với bất kỳ câu hỏi hoặc thắc mắc nào, xin đừng ngần ngại liên hệ với nhóm hỗ trợ của chúng tôi tại
        [doduongthaituan201102@gmail.com/0848810789].</p>
    <p>Xin cảm ơn bạn đã sử dụng trang web English Academy.</p>
    <p>Trân trọng,<br>
        <strong>English Academy Service Center</strong></p>
</div>
</body>
</html>