<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Chào mừng bạn đến với English Academy</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

        h1, h2, p {
            margin: 0 0 20px;
        }

        p:last-child {
            margin-bottom: 0;
        }

        strong {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container">
    <p>Chào mừng bạn đến với English Academy, <span th:text="${toEmail}"></span></p>
    <p>Cảm ơn bạn đã đăng ký English Academy. Truy cập vào <a href="https://english.workon.space">English Academy</a> để
        trải nghiệm nhiều tính năng thú vị nhé</p>
    <p>Trân trọng,<br>
        <strong>English Academy Service Center</strong></p>
</div>
</body>
</html>